@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap");
body {
  background: #ffffff !important;
}

.page-content {
  margin-top: 100px;
}

footer {
  border-top: 1px solid #e4e4e4;
  margin-top: 150px;
}
footer p {
  color: #979797;
}

.form-control {
  background-color: #f3f3f3;
}

.navbar-store {
  padding-top: 15px;
}
.navbar-store a.nav-link.text-white {
  background-color: #2491E0;

}
.navbar-store ul li.active a {
  color: #2491E0 !important;
  font-weight: bold;
}
@media (min-width: 992px) {
  .navbar-store .nav-item .nav-link {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.navbar-store .profile-picture {
  max-height: 45px;
}
.navbar-store .cart-badge {
  display: inline-block;
  min-width: 2em; /* em unit */
  padding: 0.3em; /* em unit */
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  background: #2491E0;
  color: #fefefe;
  margin-left: -10px;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.slide-fade-enter-active {
  transition: all 0.2s ease;
}

.slide-fade-leave-active {
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateY(10px);
  opacity: 0.5;
}

.page-home h5 {
  margin-bottom: 15px;
}
.page-home .store-trend-categories {
  margin-top: 30px;
}
.page-home .store-new-products {
  margin-top: 10px;
}

.page-categories h5 {
  font-weight: 300;
  margin-bottom: 15px;
}
.page-categories .store-trend-categories {
  margin-top: 30px;
}

.page-details h5 {
  color: #0c0d36;
  font-size: 18px;
  font-weight: 300;
}
.page-details .store-heading {
  margin-bottom: 10px;
}
.page-details .store-heading h1 {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 0px;
  color: #0c0d36;
}
.page-details .store-heading .owner {
  font-weight: 200;
  font-size: 14px;
  line-height: 21px;
  color: #979797;
  margin-bottom: 8px;
}
.page-details .store-heading .price {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ff7158;
  margin-bottom: 10px;
}
.page-details .store-gallery {
  margin-bottom: 20px;
}
.page-details .store-gallery img {
  border-radius: 10px;
}
.page-details .store-gallery .thumbnail-image {
  margin-bottom: 20px;
  border: 2px solid transparent;
}
.page-details .store-gallery .thumbnail-image:hover, .page-details .store-gallery .thumbnail-image.active {
  border: 2px solid #ff7158;
}
.page-details .store-description p {
  font-size: 16px;
  color: #525252;
  line-height: 180%;
}
.page-details .store-review .media img {
  max-width: 50px;
}
.page-details .store-review .media-body {
  font-size: 16px;
  line-height: 180%;
  color: #525252;
}
.page-details .store-review .media-body h5 {
  font-weight: 300;
  font-size: 16px;
  line-height: 180%;
  color: #0c0d36;
}

.store-cart h2 {
  font-size: 16px;
  color: #0c0d36;
  font-weight: 600;
  margin-top: 10px;
}
.store-cart .product-title {
  font-size: 18px;
  color: #0c0d36;
  margin-top: 15px;
}
.store-cart .product-subtitle {
  font-size: 14px;
  color: #979797;
}
.store-cart .table-cart {
  margin-left: -15px;
  margin-right: -15px;
}
.store-cart .table-cart th {
  font-weight: 200;
}
.store-cart .table-cart .cart-image {
  border-radius: 8px;
  max-height: 85px;
}
.store-cart .table-cart .btn-remove-cart {
  margin-top: 18px;
}

.page-auth .row-login {
  min-height: 70vh;
}
.page-auth .section-store-auth h2 {
  font-size: 28px;
  color: #0c0d36;
  font-weight: 200;
  margin-top: 0;
}
.page-auth .section-store-auth .form-control {
  background: #f3f3f3;
  border-radius: 8px;
}
.page-auth .section-store-auth .btn-signup {
  color: #bbbbbb;
}

.page-success .row-login {
  min-height: 75vh;
}
.page-success .section-success h2 {
  font-size: 28px;
  color: #0c0d36;
  font-weight: 200;
  margin-top: 0;
}
.page-success .section-success .form-control {
  background: #f3f3f3;
  border-radius: 8px;
}
.page-success .section-success .btn-signup {
  color: #bbbbbb;
}

.store-breadcrumbs .breadcrumb {
  background: transparent;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.store-breadcrumbs .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.store-breadcrumbs .breadcrumb .breadcrumb-item.active {
  font-weight: 300;
  color: #0c0d36;
}
.store-breadcrumbs .breadcrumb a {
  color: #979797;
}

.component-categories {
  text-decoration: none;
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 30px 30px 10px 30px;
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;
}
.component-categories:hover {
  transform: scale(1.05);
  text-decoration: none;
}
.component-categories .categories-text {
  color: #0c0d36;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  margin-top: 12px;
}

.component-products {
  text-decoration: none;
  margin-bottom: 20px;
}
.component-products:hover {
  text-decoration: none;
}
.component-products .products-thumbnail {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.component-products .products-thumbnail:hover .products-image, .component-products .products-thumbnail:focus .products-image {
  transform: scale(1.1);
}
.component-products .products-thumbnail .products-image {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}
.component-products .products-text {
  color: #0c0d36;
  margin-top: 12px;
  font-weight: normal;
  font-size: 18px;
}
.component-products .products-price {
  font-weight: 500;
  font-size: 16px;
  color: #ff7158;
}

.card {
  background: #fefefe;
  box-shadow: 0px 4px 15px #f1f1f8;
  border-radius: 8px;
  border: none;
  text-decoration: none !important;
}
.card .dashboard-card-title {
  font-size: 16px;
  color: #c5c5c5;
}
.card .dashboard-card-subtitle {
  font-weight: 600;
  font-size: 32px;
  color: #0c0d36;
}

.card .card-image {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.card .card-image img {
  width: 100%;
  height: 100%;
  background-color: #ddd;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}
.card .card-image img:hover, .card .card-image img:focus {
  transform: scale(1.1);
}
.card .card-body a {
  text-decoration: none;
}
.card .card-body .discount {
  font-size: 16px;
  color: rgb(153, 153, 153);
}
.card .card-body .discount span {
  background-color: darkorange;
}
.card .card-body .price {
  color: rgb(71, 176, 75);
  font-size: 20px;
}

.card-list {
  margin-bottom: 10px;
}
.card-list .card-body {
  font-size: 18px;
  line-height: 40px;
  color: #0c0d36;
}

.slide-fade-enter-active {
  transition: all 0.2s ease;
}

.slide-fade-leave-active {
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateY(10px);
  opacity: 0.5;
}/*# sourceMappingURL=main.css.map */